.job-card {
  border: 1px solid #e5e7eb;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  background: white;
}

.job-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.view {
  color: #2563eb;
  font-size: 14px;
}